/* You can add global styles to this file, and also import other style files */
body 
{
	background-color: #F5F5F5;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4
{
	font-family: 'Roboto', sans-serif;
}

.conrad-logo
{
	font-family: serif;
	color: #ae4200;
}

p
{
	padding: 1.1em 0em 0em 1.2em;
	font-size: 1.2em;
}